*{
  padding: 0;
  margin: 0;
  
}
.App {
  text-align: left;
  height: 100vh;
  width: 100vw;
}
#test1{
  color:blue
}


li{
  text-align: left;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font: bold;
  font-size: xx-large;
  border: 1px solid red;
}



.Sidebar {
  background-color:grey;
  color: white;
  width: 20%;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.Sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.Sidebar a:hover {
  background-color: #555;
}

.PageLayout {
  margin-left: 25%; /* Adjust this value based on the width of your left-nav */
  padding: 20px;
}
