*{
  padding: 0;
  margin: 0;
  
}
.App {
  text-align: left;
  height: 100vh;
  width: 100vw;
}
#test1{
  color:blue
}

.Sidebar {
  height: 100%;
  width: 20%;
  background-color: tomato;
  display: inline-block;
  margin-left: 0%;
}


li{
  text-align: left;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font: bold;
  font-size: xx-large;
  border: 1px solid red;
}

.icon{
  
}

.PageLayout{
  width: 80%;
  margin-left: 20%;
  display: inline-block;

}

