@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;400&display=swap");

* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: left;
  height: 100vh;
  width: 100vw;
  font-family: "Lexend Deca", sans-serif;
  box-sizing: border-box;
}
#test1 {
  color: blue;
}

li {
  text-align: left;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font: bold;
  font-size: xx-large;
  border: 1px solid black;
}

.Sidebar {
  background-color: black;
  color: white;
  width: 20%;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.Sidebar ul li a {
  width: 90%;
  display: flex;
}

.Sidebar ul li a svg {
  padding-right: 10px;
}

.Sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
  font-size: large;
}

.Sidebar a:hover {
  background-color: #226792;
  border-radius: 5px;
}

.PageLayout {
  margin-left: 24%; /* Adjust this value based on the width of your left-nav */
  padding: 20px;
}

.BrokerContactInfo1 {
  display: flex;
  align-items: center;
}

.BrokerContactInfo1 .info {
  width: 60%;
}
.BankDetails{
  display: flex;
}

.BankDetails .BankInfo{
  width: 70%;
}

.BankDetails .AddButton{
  margin-top: 85px;
}
